/*  your css code here. If applicable */
body{
	text-align : center;
	background-color : black;
	border-radius : 10px;
}
#animal-photos{
	margin: auto;
	width : 90%;
	border-radius : 10px;
	background-color : grey;
}
img{
	border-radius : 30px;
	padding : 10px;
}
#photo-heading{
	font-sze : 30px;
	color : white;
}